/*
 * This stylesheet is provided to match the app's theme, Holo Dark.
 * It is based on the Holo Web stylesheets by Zachary Yaro:
 * https://github.com/zmyaro/holo-web .
 */

body { background-color: black; color: white; }

body:before {			/* background gradient */
	z-index:  -1000;
	content:  "";
	position: fixed;
	left:   0;
	right:  0;
	top:    0;
	bottom: 0;
	background-image: -webkit-gradient(linear, left top, left bottom,
					from(#000000), to(#20262C));
	background-image: -webkit-linear-gradient(#000000, #20262C);
	background-image:         linear-gradient(#000000, #20262C);
}

p ul { color: #E0E0E0; }
pre  { color: #D4FFD4; }
a    { color: #33B5E5; }
em { font-family: serif; }

ol { list-style-type: none; }
