@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css";

body {
    font-family: "Open Sans", "DejaVu Sans", "Optima", "Calibri", sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #3F51B5;
    font-weight: 300;
}
h1 small a {
    color: #777;
}
.btn {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
        0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
        0 1px 1px rgba(0, 0, 0, .075);
    background-image: -webkit-linear-gradient(top, #8C9EFF 0%, #536DFE 100%);
    background-image:      -o-linear-gradient(top, #8C9EFF 0%, #536DFE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom,
        from(#8C9EFF), to(#536DFE));
    background-image: linear-gradient(to bottom, #8C9EFF 0%, #536DFE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8C9EFF',
        endColorstr='#FF536DFE', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #4E67EF;
}
.btn:hover, .btn:focus {
    color: #FFF;
    background-color: #536DFE;
    background-position: 0 -15px;
}
#feature {
    max-width: 100%;
    max-height: 152px;
    float: right;
}
#screenshot {
    max-width: 100%;
    max-height: 560px;
}
#qr {
    text-align: center;
    color: #777;
    margin-left: 16px;
    float: right;
}
.language-selector {
    font-size: 90%;
    text-align: right;
}
#empty_country, #bad_country, #bad_ref, #bad_dob {
    display: none;
}
